@import url("https://fonts.googleapis.com/css2?family=Muli&display=swap");
@import url(./containerc.css);
@import url(./form.css);

:root{
    --cor-fundo: #AA96DA;
    --cor-cinza-darkness: #393e467d;
    --cor-branco: #fff;
    --cor-preto: #000;
}

*{
    box-sizing: border-box;
}

body{
    font-family: "Muli", sans-serif;
    background: var(--cor-fundo);
    color: var(--cor-branco);
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    overflow: hidden;
    margin: 0;
}