.form-control{
    position: relative;
    margin: 1em 0 1.5em;
    width: 300px;
}

.form-control input{
    background-color: transparent;
    border: 0;
    border-bottom: 2px var(--cor-branco) solid;
    display: block;
    width: 100%;
    padding: 1em 0;
    font-size: 18px;
    color: var(--cor-branco);
}

.form-control input:focus,
.form-control input:valid{
    outline: 0;
    border-bottom-color: lightblue;
}

.form-control input::placeholder{
    position: absolute;
    top: 1em;
    left: 0;
    pointer-events: none;
    display: inline-block;
    font-size: 18px;
    min-width: .7em;
    color: lightblue;
}

.form-control label span{
    transition: .3s cubic-bezier(.68, -0.55, .265, 1.55);
}

.form-control input:focus + label span,
.form-control input:valid + label span{
    color: lightblue;
    transform: translateY(-30px);
}